// TODO: migrate file to tailwind where possible
.top-bar-bg {
    background: linear-gradient(
        133deg,
        rgba(215, 31, 6, 1) 0%,
        rgba(215, 31, 6, 1) 40%,
        rgba(226, 88, 70, 1) 60%,
        rgba(215, 31, 6, 1) 100%
    );
}

.blue {
    background: radial-gradient(#9af0ff, #12b2d6);
}
.green {
    background: radial-gradient(#b0fb7b, #50fb05);
}
.yellow {
    background: radial-gradient(#ffdc26, #f3b438);
}
.red {
    background: radial-gradient(#da181f, #b90a0a);
}
